*{
  padding: 0;
  margin: 0;
}
.container{
  background-color: orange;
  color: white;
  padding: 10px;
  margin: 10px;
  width: 30%;
  display: flex;
  justify-content: center;
}
.time h3{
  display: flex;
  margin-right: 10px;
  background-color: blue;
  border-radius: 30px;
  width: 100px;
  justify-content: center;
  border: none;
 
}
.box1{
  display: flex;
  flex-direction: column;
 
}
body{
  display: flex;
}