*{
  margin: 0;
  padding: 0;
}
:root{
  font-size: 10px;
}
section{
  width: 50rem;
  margin: auto;
  font-size: 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 2rem 4rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem 0rem;
}
.price , .cart{
  font-weight: bold;
  background-color: #0093ab;
  color: white;
  border-radius: 1rem;
  padding: 1rem 2rem;
  text-decoration: none;
  font-size: 2.5rem;
}
.productname{
  font-weight: 900;
  font-size: 2.5rem;
}
.Description{
  font-size: 2rem;
}
img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.price{
  align-self: flex-start;
}
.cart{
  align-self: flex-end;
}