*{
  padding: 0;
  margin: 0;
}

div{
  border: 1px solid red;
  width: fit-content;
  display: flex;
}
input{
  border: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  outline: none;
  
}
input[type="value"]{
  background-color: red;
  color: white;
  text-align: center;
 
}
input[type="email"]{
  background-color: none;
  color: red;
  flex-grow: 1;
  
}