*{
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
:root{
  font-size: 10px;
}
section{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
 padding: 1rem;
  background-color:  #CF9FFF;
  display: flex;
gap: 1rem;
font-size: 2rem;
}
h3{
  color: white;
 
}
div{
 display: flex;
 flex-basis: 30%;
 gap: 2rem;
}
a{
  background-color: white;
  text-decoration: none;
   padding: 1rem 2rem;
   border-radius: 1rem;
   text-align: center;
   flex: 1 1 0%;
}
input{
  background-color: #dbbff8;
  border: none;
  width: 30rem;
  height: 3rem;
  border-radius: 1rem;
  padding: 2rem;
  outline: none;
}
input::placeholder{
  color: #5e5c5c;
  padding: 1rem;
  font-size: 2rem;
  
}
@media screen and (max-width:800px){

  section{
    flex-wrap: wrap;
  }
  div{
    order: 1;
    flex-basis: 100%;
    padding: 1rem;
    margin: 1rem;
  }
}
  
