*{
  padding: 0;
  margin: 0;
}
body{
  font-family: sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.5;
  padding: 1rem;
  margin: 1rem;
}
:root{
  font-size: 10px;
}
section{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  }
  h2{
    font-size: 3rem;
  }
  form{
    display: flex;
    flex-direction: column;
 
  gap: 1rem;
  }
  input{
    border: none;
    background: none;
    outline: none;
    padding: 1rem 2rem;
    margin: 1rem;
    border: 1px solid black;
    border-radius: 0.5rem;
  }
  input[type="submit"]{
    border: none;
    background-color: #6a67ce;
    cursor: pointer;
    color: pointer;
    font-size: 2rem;
  }
  ul{
    display: flex;
    justify-content:space-between;
   gap: 1rem;
  }
 li{
  width: 33.33%;
  list-style: none;
  padding: 1rem 2rem;
  border-radius: 1rem;
  text-align: center;
 }
 ul li a{
  color: white;
  text-decoration: none;
  font-size: 2rem;
 }
 ul li:first-child{
  background-color: #2155cd;
 }
 ul li:nth-child(2){
  background-color: #79dae8;
 }
 ul li:last-child{
  background-color:#eb5353;
 }
 p , a{
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
 }
