*{
  padding: 0;
  margin:0;
}
.dropdown1{
  display: none;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  left: 0;
  top: 100%;
  width: 200px;
  padding-bottom: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.dropdown1 a{
  display: flex;
  text-decoration: none;
  color: black;
  padding: 10px;
  }
.why{
  display: flex;
  padding: 20px;
margin: 20px;
position: relative;
}
.why:hover .dropdown1{
  display: flex;
}
.dropdown1 a:hover{
  color: blue;
}

.dropdown1 hr{
  width: 100%;
  border: 0;
  border-top: 1px solid #ccc; /* visible line */
  margin: 10px 0;
}
.why h4{
  padding: 10px;
}
p{
  margin: 10px;
  gap: 5px;
}