*{
  padding: 0;
  margin: 0;
}
body{
  font-family: "Inter", sans-serif;
}

nav{
  display: flex;
  flex-direction: column;
  width: 100%;
}
img{
width: 120px;

}
.dropdown1{
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  left: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  top: 100%;
  width: 200px;
  border-radius: 10px;
  z-index: 999;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
/* Dropdown paragraph */
.dropdown1 p{
   display: block;
  color: black;
  padding: 10px;
  font-size: 13px;
  width: 90%;
  text-align: start;
}
/* dropdown la erukra anchor tag */
.dropdown1 a{
  display: block;
  text-decoration: none;
  color: black;
  padding: 10px;
  width: 90%;
  text-align: start;
  }
  .icon{
  display: flex;
  width:600px;
  position: relative;
}
input{
  display: flex;
  width: 600px;
  padding: 10px 10px 10px 20px;
  text-indent: 20px; 
  border-radius: 50px;
  border: 1px solid black;
  outline: none;
}
.icon i{
  position: absolute;
  top: 12px;
  left: 10px;
  color: gray;
  pointer-events: none;
}

.why{
  display: flex;
  padding: 20px;
margin: 20px;
position: relative;
}
.why:hover .dropdown1{
  display:flex;
  background-color: white;
}
.dropdown1 a:hover{
 color: blue;
 background-color: rgb(141, 141, 240);

}
.dropdown1 p:hover{
 color: blue;
 background-color: rgb(141, 141, 240);
  
}
.dropdown1 hr{
  width: 100%;
  border: 0;
  border-top: 1px solid #ccc; /* visible line */
  margin: 10px 0;
}
.why h4{
  padding: 10px;
}
.searchbar{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  height: 100px;
  }

 input:focus {
    border-color: #A435F0;
    outline: none;
}

.searchlist {
box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
padding: 20px;
margin-top: 10px;
display: flex;
justify-content: space-evenly;

  }
  a{
    text-decoration: none;
    font-size: 13px;
    text-align: center;
    color: black;
  }
  .searchlist a:hover{
    color: blue;
  }
 
  /* .dropdown1 a{
display: flex;
flex-direction: column;
  } */
 .btn1{
   background-color: transparent;
   border: 1px solid #A435F0;
   padding: 8px;
   font-weight: bold;
   color: #8c16db;
   font-size: 15px;
   width: 80px;
 } 
 .btn2{
    background-color: #8c16db;
    color: white;
    padding: 8px;
    font-weight: bold;
    border: none;
    outline: none;
    font-size: 15px;
    width: 80px;
    
 }
 .btn2:hover{
    background-color: #6815a0;
    cursor: pointer;
 }
 .btn1{
 cursor: pointer;
 }
.dr1{
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 10px;
    
}
 .dr1 p{
  padding: 10px;
} 

.drsub{
  display: flex;
    position: absolute;
    width: 300px;
    height: 150px;
    text-align: center;
    background-color: white;
    padding-top:  10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: none;
    flex-direction: column;
    top: 50px;
    right: 30px;
  
}
.drsub p{
    padding: 10px;
}
/* hover effect of paragraph */
.btn3{
background-color: #A435F0;
color: white;
display: flex;
justify-content: center;
padding: 10px 10px;
width: 200px;
font-size: 15px;
margin: auto;

}
.dr1:hover .drsub{
    display: block;
}
.para1{
    color: black;
    font-weight: bold;
}
.btn3:hover{
    background-color: #6815a0;
    color: white;
}
.para1:hover{
    color: black;
}
.btn1:hover{
    background-color: #9e9e9e48;
    
}

  /*tech on udemy dropown */
  .box1{
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
  }
  .boxsub{
    display: none;
    position: absolute;
    width: 300px;
    height: 150px;
    text-align: center;
    top: 30px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 40px;
    padding: 10px;
    margin: 10px;
  }
  .boxsub1 {
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-weight: bold;
    color: black;
  }
    .boxsub2 {
background-color: #A435F0;
color: white;
display: flex;
justify-content: center;
padding: 10px;
width: 200px;
font-size: 15px;
  }
  .box1:hover .boxsub{
    display: flex;
  }
  .boxsub2:hover{
    background-color: #6815a0;
    color: white;
}
.boxsub1:hover{
    color: black;
}
.txt1{
  display: flex;
}
/* item 1 */
.item1{
  position: relative;
  width: 100%;
}

.submenu{
  position: absolute;
  top: 0;               /* item1 pakkathula thaan start aagum */
  left: 200px;          /* side la varum */
  width: 220px;
  background: #fff;
  display: none;
  flex-direction: column;
  border: 1px solid #ddd;
  box-shadow: 0 4px 20px rgba(0,0,0,0.15);
  border-radius: 4px;
  z-index: 999;
}
.submenu a{
  text-align: left;
}

.item1:hover .submenu{
    display: flex;
    width: 100%;
}
.item2{
  position: relative;
  width: 100%;
}
.submenu1{
   position: absolute;
  top: 0;               /* item1 pakkathula thaan start aagum */
  left: 200px;          /* side la varum */
  width: 220px;
  background: #fff;
  display: none;
  flex-direction: column;
  border: 1px solid #ddd;
  box-shadow: 0 4px 20px rgba(0,0,0,0.15);
  border-radius: 4px;
  z-index: 999;
  padding: auto;
}
.item2:hover .submenu1{
  display: block;
}
.main{
  display: flex;
  width: 100%;
  height: 100%;
}
.submain{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.submain img{
  width: 800px;
}
.submain p{
  font-weight: bold;
  font-size:50px ;
}