*{
  padding: 0;
  margin: 0;
}
body{
  font-family: "Inter", sans-serif;
  
}
nav{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around; 
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: auto;
}
img{
  width: 110px;
  margin: 10px;
}
.dropdown{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100px;
   
 
}
.dropdownlist{
  background-color: white;
  position: absolute;
  padding-bottom: 10px;
  width: 300px;
  top: 55px;
  display: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.dropdownlist a{
  display: flex;
  text-decoration: none;
  color: black;
  padding: 10px;
  margin-left: 0px;
}
.dropdownlist p{
  display: flex;
  text-decoration: none;
  color: black;
  padding: 10px;
  margin-left: 0px;
}
.dropdown:hover .dropdownlist
{
  display: block;
}
.dropdown h4{
  font-weight: normal;
  padding: 10px;
  text-align: center;
  font-size: 13px;
}
.icon{
  display: flex;
  width: 500px;
  position: relative;
}
input{
  width: 500px;
  padding: 10px 10px 10px 20px;
  text-indent: 20px; 
  border-radius: 50px;
  border: 1px solid black;

  outline: none;
}
.icon{
  display: flex;
}
.icon i{
  position: absolute;
  top: 12px;
  left: 10px;
  color: gray;
  pointer-events: none;
}
/* input::placeholder{
  padding: 10px 10px 10px 15px;
} */
 .dropdown h4:hover{
  background-color: rgb(255, 228, 255);
  color: blueviolet;
 }
 a,p{
  text-decoration: none;
  color: black;
  font-size: 13px;
 }
 .btn1{
  width: 100px;
  background-color: transparent;
  border: 1px solid violet;
  text-align: center;
  padding: 10px;
  color:rgb(190, 56, 190);
 }
  .btn2{
  width: 100px;
  background-color: rgb(144, 57, 226);
  text-align: center;
  padding: 10px;
  color: white;
 }
 #icon1{
  border: 1px solid violet;
  width: 25px;
  padding: 10px;
 }