*{
  padding: 0;
  margin: 0;
}
body{
  font-family: "Inter", sans-serif;
}

nav{
  display: flex;
  flex-direction: column;
  width: 100%;
}
h2{
font-size: 20px;

}
.dropdown1{
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  left: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  top: 100%;
  width: 200px;
  z-index: 1;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.dropdown1 p{
   display: flex;
  color: black;
  padding: 10px;
  font-size: 13px;
  margin-left:10px;
}
.dropdown1 a{
  display: flex;
  text-decoration: none;
  color: black;
  padding: 10px;
  margin-left:10px;
  }
.why{
  display: flex;
  padding: 20px;
margin: 20px;
position: relative;
}
.why:hover .dropdown1{
  display: flex;
  background-color: white;
}
.dropdown1 a:hover{
 color: blue;
  
}


.dropdown1 hr{
  width: 100%;
  border: 0;
  border-top: 1px solid #ccc; /* visible line */
  margin: 10px 0;
}
.why h4{
  padding: 10px;
}

.searchbar{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
 
  }
  input{
    width: 70%;
    padding: 15px;
    border-radius: 20px;
    border: 0.5px solid black;
    
  }
  /* input:focus{
    border: 0.5px solid blue;
  } */
  .searchlist {
box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
padding: 20px;
margin-top: 10px;
display: flex;
justify-content: space-evenly;

  }
  a{
    text-decoration: none;
    font-size: 13px;
    text-align: center;
    color: black;
  }
  .searchlist a:hover{
    color: blue;
  }
 
  p:hover{
    background-color: gray;
    opacity: 0.8;
  }
  .dropdown1 a{
display: flex;
flex-direction: column;


  }
 