*{
  padding: 0;
  margin: 0;
}
:root{
font-size: 10px;
}
body{
  font-family: Arial, Helvetica, sans-serif;
}
section{
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  background-color: #764af1;
  width: 30rem;
  margin: auto;
  padding: 1rem 2rem;
  gap: 2rem;
  text-align: center;
  border-radius: 2rem;
  color: white;
}
div{
  display: flex;
  justify-content: space-between;
  border-radius: 1rem;
   gap: 2rem;
}
a{
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: inherit;
  font-size: 1.5rem;
  flex-basis: 50%;
 
  
}
a:first-child{
  color: white;
  background-color: #9772fb;
}
a:last-child{
  background-color: white;
  color: #764af1;
}